input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type=number] {
  -moz-appearance: textfield;
}

.goodName{
  font-size: 2vw;
}
.price{
  font-size: 1.5vw;
}
div.price {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
