<ul>
  <li><span [routerLink]="['/goods/computerTechnologies']">Computer technologies</span> 
    <ul>
      <li><span [routerLink]="['/goods/computers']">Computers</span></li>
      <li><span [routerLink]="['/goods/computerAccessories']">Computer accessories</span>
        <ul>
          <li>Headphones</li>
          <li>Keyboard</li>
          <li>Mause</li>
        </ul>
      </li>
      <li><span [routerLink]="['/goods/computerParts']">Computer parts</span>
        <ul>
          <li>Computer drives</li>
          <li>Coolers</li>
          <li>CPUs</li>
          <li>Video cards</li>
        </ul>
      </li>
      <li><span [routerLink]="['/goods/flashDrives']">Flash drives</span></li>
      <li><span [routerLink]="['/goods/laptops']">Laptops</span></li>
    </ul>
  </li>
</ul>