<ul>
  <li><span [routerLink]="['/goods/computerTechnologies']">Computer technologies</span> 
    <ul>
      <li><span [routerLink]="['/goods/computers']">Computers</span></li>
      <li><span [routerLink]="['/goods/computerAccessories']">Computer accessories</span>
        <ul>
          <li><span [routerLink]="['/goods/headphones']">Headphones</span></li>
          <li><span [routerLink]="['/goods/keyboards']">Keyboard</span></li>
          <li><span [routerLink]="['/goods/mice']">Mause</span></li>
        </ul>
      </li>
      <li><span [routerLink]="['/goods/computerParts']">Computer parts</span>
        <ul>
          <li><span [routerLink]="['/goods/computerDrives']">Computer drives</span></li>
          <li><span [routerLink]="['/goods/coolers']">Coolers</span></li>
          <li><span [routerLink]="['/goods/CPUs']">CPUs</span></li>
          <li><span [routerLink]="['/goods/videoCards']">Video cards</span></li>
        </ul>
      </li>
      <li><span [routerLink]="['/goods/flashDrives']">Flash drives</span></li>
      <li><span [routerLink]="['/goods/laptops']">Laptops</span></li>
    </ul>
  </li>
</ul>