.basket:hover{
  background-color: blueviolet;
}

div.gallery img {
  flex: 0;
  max-height: 99px;
  max-width: 99px;
}
div.gallery {
  width: 100px;
  height: 100px;
}

.price{
  font-size: 2vw;
}
.btn-order{
  font-size: 1.5vw;
}
.title{
  font-size: 3vw;
}