<h3>{{questions.value}}</h3>
<div *ngFor="let question of questions.questionBaseList.sort(sortByName); index as i" class="form-row">
  <app-question 
  [hidden]="i > 10 && !showHidden"
  [question]="question" 
  [form]="form" 
  [formName]="formName" 
  [questionsKey]='questions.key'></app-question>
</div>
<button *ngIf="questions.questionBaseList.length > 10 && showHidden" (click)="showHidden = !showHidden">show less</button>
<button *ngIf="questions.questionBaseList.length > 10 && !showHidden" (click)="showHidden = !showHidden">show more</button>