<div class="row m-0 p-0">
  <div class="col">
    <form [formGroup]="orderForm" (ngSubmit)="onSubmit()">
      <label for="address">Address:</label>
      <input class="form-control" type="text" formControlName="address" id="address" required>
      <label for="deliveryMethod">Delivery method:</label>
      <br>
      <select id="deliveryMethod" formControlName="deliveryMethod" required>
        <option *ngFor="let deliveryMethod of deliveryMethods">{{deliveryMethod.value}}</option>
      </select>
      <br>
      <label for="deliveryMethod">First name:</label>
      <input class="form-control" type="text" formControlName="firstName" id="firstName" required>
      <label for="deliveryMethod">Last name:</label>
      <input class="form-control" type="text" formControlName="lastName" id="lastName" required>
      <label for="email">Email:</label>
      <input class="form-control" type="email" formControlName="email" id="email" required>
      <input class="btn" type="submit">
    </form>
  </div>
  <div class="col">

  </div>
</div>